@import 'tailwindcss';

@theme inline {
  --color-background: #1a191d;
  --color-foreground: #e5e5e5;
  --font-sans: var(--font-sans);
}

html,
body {
  background-color: #1a191d;
  color: #e5e5e5;
}
